.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px; 
  background-color: #41658A;
  color: #fff;
  height: 4em;
  max-width: 100%; /* Ensure navbar fits screen */
  box-sizing: border-box;
}

.navbar .logo {
  font-weight: bold;
  font-size: 125%;
  vertical-align: auto;
}

.navbar .nav-links {
  display: flex;
  gap: 2em;
  font-size: 125%;
}

.navbar .nav-links a,
.navbar .logo a {
  color: #fff;
  text-decoration: none;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}